:root{
    --bg-color-darkblue: rgb(5, 5, 95);
    --bg-color-lightpurple:rgb(213, 179, 241);
    --bg-color-darkpurple:rgb(88, 3, 88);
    --bg-color-lightpinkpurple:rgb(238, 198, 211);
    --bg-color-lightbluepurple:rgb(177, 177, 209);
    --bg-color-lighterpurple:rgb(214, 186, 224);
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;

direction: rtl;
font-family: 'vazir';
}

@font-face {
    font-family: 'vazir';
    src:
        url('../../font/vazir-font-v16.1.0/Vazir.ttf') format('truetype'),
        url('../../font/vazir-font-v16.1.0/Vazir.woff') format('woof'),
        url('../../font/vazir-font-v16.1.0/Vazir.woff2') format('woof2'),
        url('../../font/vazir-font-v16.1.0/Vazir.eot') format('eot');
}

.loginbody{
    background-image: url('/static/image/49.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    direction: rtl;
    font-family: 'vazir';
}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid var(--bg-color-darkpurple);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
}
.wrapper.active{
    height: 540px;

}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
    position: relative;
}
.wrapper .form-box.login{
    transition: transform .70s ease;
    -webkit-transition: transform .70s ease;
    -moz-transition: transform .70s ease;
    -ms-transition: transform .70s ease;
    -o-transition: transform .70s ease;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transform: translateX(-400px);
    -webkit-transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    -o-transform: translateX(-400px);
}
.wrapper .form-box.register{
    /*display:none ;
    */position: absolute;
    transition: none;
    transform: translateX(400px);
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    -ms-transform: translateX(400px);
    -o-transform: translateX(400px);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}
.wrapper.active .form-box.register{
    transition: transform .70s ease;
    -webkit-transition: transform .70s ease;
    -moz-transition: transform .70s ease;
    -ms-transition: transform .70s ease;
    -o-transition: transform .70s ease;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.form-box h2{
    font-size: 2em;
    color:var(--bg-color-darkpurple);
    
}
.form-box.register h2{
    position: absolute;
    top: 30px;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--bg-color-darkpurple);
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 1em;
    color: var(--bg-color-darkpurple);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;

}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    color: var(--bg-color-darkpurple);
    padding: 0 5px 0 35px;
}
.input-box .icon{
    position: absolute;
    font-size: 1.2em;
    color:var(--bg-color-darkpurple);
    line-height: 57px;
    left: 8px;
}
.remember-forget{
    font-size: .9em;
    color: var(--bg-color-darkpurple);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    
}
.remember-forget label input{
    accent-color:var(--bg-color-darkpurple);
    margin-left:5px ;
}
.remember-forget a{
    color: var(--bg-color-darkpurple);
    text-decoration: none;

}
.remember-forget a:hover{
    color: white;
}
.btn{
    width: 100%;
    height: 45px;
    background:rgb(88, 3, 88);
    /* background: linear-gradient(40deg,rgb(10, 10, 77),rgb(123, 30, 177),rgb(106, 18, 133),rgb(201, 118, 118),rgb(228, 171, 156),rgb(199, 98, 160)) !important; */
    color: rgb(213, 179, 241);
    /* color: rgb(26, 2, 26); */
    border: none;
    outline: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'vazir';
    font-weight: 500;

}
.login-register{
    font-size: .9em;
    color: var(--bg-color-darkpurple);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color:rgb(73, 4, 80) ;
    text-decoration: none;
    font-weight: 600;
    /* margin-right:5px ; */
}
.login-register p a:hover{
    /* text-decoration: underline; */
    color:white ;
}
.form-box .logo{
    width: 100px;
    height:100px;
    position: absolute;
    top: -20px;
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}
.form-box.login .logo{
    margin-top: 30px;
}
.form-box.register{
    padding: 20px;
}
/* input[type="checkbox"]{
    appearance: none;
    width: 60px;
    height: 60px;
    background-color: plum;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
input[type="checkbox"]::after{
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: rgb(6, 7, 7);
    font-size: 20px;
    display: none;
}
input[type="checkbox"]:checked{
    background-color:yellow;

}
input[type="checkbox"]:checked::after{
    display: block;
} */


/* start Shopping Card styling  */

.header{
    background-image: url(/static/image/90.jpg);
    width: 100vw;
    /* height: 130px; */
    /* height:70%; */
    /* background-position: center; */
    background-size: cover;
    background-position-y: center;
    position: relative;
    /* border-bottom: 3px solid black; */
    
}
.container{
    width: 70%;
    
}
.header .main-header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
    
}
.header .main-header .logo{
    /* height: 100px;
    width: 100px; */
    width:12.203%;
    height: 96.42%;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content:start;
}
.header .main-header .logo img{
    width: 100%;
    height: 100%;
    
}
.header .main-header .user{
    display: flex;
    /* padding-top: 5%; */
    align-items: center;
    justify-content: end;
    
}
.header .main-header .user a:hover{
    color:purple;
}
.header .main-header .user a,
.header .main-header .basket a{
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    text-decoration: none;
    color: black;
    font-size: .8em;
    gap: 5px;
}
.header .main-header .basket a:hover{
    color: purple;
}
.header .main-header .basket{
    
    display: flex;
    /* padding-top: 5%; */
    align-items: center;
    padding-right: 15%;
}

.header .main-header h4{
    font-family: 'vazir';
}
.header .search{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header .search .input-search{
    backdrop-filter: blur(10px);
    border-bottom: 2px solid black;
    box-shadow: 0px -8px 20px rgb(0, 0, 0);
    width: 50%;
    display: flex;
    align-items: center;
    padding-inline: 5px;
    height: 100%;
    
}
.header .search .input-search label{
    font-size: .8em;
    font-weight: bold;
    font-family: 'vazir';
    width: 19%;
    position: absolute;
    top: -50%;
    right: 5px;
    transition: .5s;
    pointer-events: none;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}

.search .input-search input:focus~label{
    top: -30px;
    color:var(--bg-color-lighterpurple);
}
.header .search input{
    background-color: transparent;
    
    border: none;
    outline: none;
    width: 100%;
    display: flex;
    align-items:center;
    
    /* cursor: url("/static/image/icons8-pen-20.png"),auto; */
}
.header .search  button{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .search  button i{
    font-weight: bolder;
    cursor: pointer;
    backdrop-filter: blur(40px);
}
.main-body{
    display: flex;
    justify-content: center;
}
.main-pos{
    flex-direction: column;
    width: 70%;
    margin-block: 2%;
}
.page2 .main-body .company .company-logo{
    /* width: 150px;
    height:150px; */
    width:15.9%;
    height: 15.9%;
}
.page2 .main-body .company a img{
    width: 100%;
    height: 100%;
}
.main-body .company{
    flex-direction: column;
    
    /* background-color: rgb(238, 198, 211); */
    /* background-color: rgb(162, 162, 192); */
    /* background-color: rgb(177, 177, 209); */
    /* background-color: rgb(227, 210, 233); */
    background-color: var(--bg-color-lighterpurple);
    /* margin: 20px 200px; */
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.main-body .company .main_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 20px 0 20px;
    /* background-color: rgb(196, 168, 204); */
    /* background-color: rgb(204, 181, 209); */
    /* background-color: rgb(185, 179, 185); */
    /* background-color: rgb(238, 198, 211); */
}
.main-body .company .time{
    /* display: grid;
    grid-template-columns:repeat(3,1fr); */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding:0 20px 20px 20px;
    
    
    /* padding:20px 120px; */
    
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    
}
.company .time .basket{

    display: flex;
    justify-content: end;
    /* width: 30%; */
}
.company .time .basket a{
    display: flex;
    gap: 5px;
    text-decoration: none;
    
}

.company .time .basket .wheeled{
    width: 100%;
    width: 16.5px;
    height: 16.5px;
}
.company .time .basket a h4{
    width: 100px;
    height: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: end;
    padding-left: 20px;
    color: black;
    font-family:'vazir';
    font-size: .9em;
    
}
.company .time .basket a h4:hover{
    color: purple;
}
.company .time .line{
    /* background-color: rgb(192, 255, 236); */
    /* width: 370px; */
    
    width: 41%;
    height: 3px;
    background:linear-gradient(40deg,rgb(141, 53, 141),black);
    display: flex;
    /* background-color: black; */
}
/* .company .time .line hr{
    width: 370px;
    height: 2px;
    color: black;
} */
.company .time .arrivel{
    /* background-color: blue; */
    display: flex;
    /* width: 30%; */
}
.company .time .arrivel a{
    display: flex;
    font-family: 'vazir';
    font-size: .9em;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    padding-right: 20px;
}
.company .time .arrivel a i,
.company .time .basket a i{
    font-size: 16.3px;
}
.company .time .arrivel a :hover{
    color: black;
}
.main-body .products{
    margin-top: 2% ;
    display: flex;
    width: 100%;
    gap: 2%;
    width: 100%;
    /* flex-wrap: wrap; */
}
.main-body .products .product-name{
    flex-direction: column;
    width: 64%;
}
.main-body .products .product-name .product1{
    /*background-color: var(--bg-color-lightpinkpurple);
    */background-color: var(--bg-color-lighterpurple);
    display: flex;
    align-items: center;
    /*width: 463px;
    */border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    height: 180px;
    margin-bottom: 10px;
    padding: 20px;
}
.products .product-name .product1 .img,
.products .product-name .product2 .img{
    width: 20%;
    display: flex;
    align-items: center;
    height: 55%;
    
    
    
    
}
.products .product-name .product1 .img img,
.products .product-name .product2 .img img{
    /* width: 120px;
    height: 110px;
    padding-right: 20px; */
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

}
.products .product-name .product1 .product-info,
.products .product-name .product2 .product-info{
    flex-direction: column;
    width: 80%;
}
.products .product-name .product1 .product-info .model a,
.products .product-name .product2 .product-info .model a{
    height: 50%;
    display: flex;
    align-items: center;
    font-family: 'vazir';
    padding-top:20px;
    padding-right: 15px;
    color: black;
    text-decoration: none;
    font-size: 1.1em;
}
.products .product-name .product1 .product-info .model a:hover,
.products .product-name .product2 .product-info .model a:hover{
    color: purple;
}
.products .product-name .product1 .product-info .price,
.products .product-name .product2 .product-info .price{
    padding:20px 15px 20px;
    height: 50%;
    font-family: 'vazir';
    font-size: .9em;
}
.products .product-name .product1 .product-info .price .real-price,
.products .product-name .product2 .product-info .price .real-price{
    display: flex;
    gap: 8px;
}
.products .product-name .product1 .product-info .price .discount-price,
.products .product-name .product2 .product-info .price .discount-price{
    display: flex;
    gap: 8px;
    color: var(--bg-color-darkpurple);
}

.products .product-number{
    height: 370px;
    width: 34%;
    /*background-color: var(--bg-color-lightpinkpurple);
    */background-color: var(--bg-color-lighterpurple);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    flex-direction: column;
    padding: 40px 15px;
    flex-direction: column;
    
}
.main-body .products .product-name .product2{
    /* background-color: var(--bg-color-lightpinkpurple); */
    background-color: var(--bg-color-lighterpurple);
    display: flex;
    align-items: center;
    /* width: 463px; */
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    height: 180px;
    margin-top: 10px;
    padding: 20px;
}
.products .product-number .check-pos{
    flex-direction: column;
    height: 100%;
}
.products .product-number .check{
    display: flex;
    height: 70%;
}

.products .product-number .check .description,
.products .product-number .check .price-check{
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.products .product-number .check .description .amount,
.products .product-number .check .description .total-price,
.products .product-number .check .description  .discount{
    /* height:52.5px ; */

    display: flex;
    align-items: center;
    font-family: 'vazir';
    font-size: .9em;
    
}

.products .product-number .check .description .pay{
    /* height:52.5px ; */
    
    display: flex;
    align-items: center;
    font-family: 'vazir';
    font-size: .9em;
    color: var(--bg-color-darkpurple);
    
}
.products .product-number .check .description .amount,
.products .product-number .check .description .total-price,
.products .product-number .check .description  .discount,
.products .product-number .check .description .pay,
.products .product-number .check .price-check .amount,
.products .product-number .check .price-check .total-price,
.products .product-number .check .price-check .discount,
.products .product-number .check .price-check .pay{
    height:25% ;
}
.products .product-number .check .price-check .amount,
.products .product-number .check .price-check .total-price,
.products .product-number .check .price-check .discount{
    display: flex;
    gap: 8px;
    /* height:52.5px ; */

    align-items: center;
    font-family: 'vazir';
    font-size: .9em;
}
.products .product-number .check .price-check .pay{
    display: flex;
    gap: 8px;
    /* height:52.5px ; */

    align-items: center;
    font-family: 'vazir';
    font-size: .9em;
    color: var(--bg-color-darkpurple);
}
.products .product-number .check-pos .btn{
    height: 15%;
    margin-top:20px;
    
}
footer .footer{
    background-image:url(/static/image/49.jpg) ;
    width: 100vw;
    /* height: 81px; */
    font-family: 'vazir';
    font-size:1em;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
}
footer .footer h4{
    display: flex;
    color: var(--bg-color-lighterpurple);
    justify-content: center;
}
footer .footer h4 a{
    padding-right: 5px;
    text-decoration: none;
}
footer .footer h4 a h4:hover{
    color: black;
}
.footer .connection a{
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-top: 1%;
    color: var(--bg-color-lighterpurple);
}

.footer .connection a .email:hover,
.footer .connection a .telegram:hover,
.footer .connection a .instagram:hover,
.footer .connection a .twitter:hover,
.footer .connection a .youtube:hover,
.footer .connection a .tiktok:hover{
    color: #ff8a80;
    /* font-size: 1.3em; */
}
/* end Shopping Card styling */
.wrapper .btn2{
    background-color: aqua;
}


/* start page3 */
.main-pos3{
    display: flex;
    width: 70%;
    margin:2%;
    gap:2%;
    font-family:'vazir' ;
}
.main-pos3 .information{
    display: flex;
    flex-direction: column;
    width: 70%;    
    font-family:'vazir' ;
    
    
}

.main-pos3 .shop-info{
    border: 1px solid black;
    padding:4%;
    margin-bottom:2% ;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    
    height:auto;
    /* background-color: var(--bg-color-lighterpurple); */
    
    
}
.main-pos3 .receiver-info{
    /* width: 100%; */
    width: 88%;
}
.main-pos3 .edit-pos .edit-btn{
    width: 12%;
    color: #6A1B9A;
    background-color: white;
    border:1px solid black ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.main-pos3 .edit-pos .edit-btn:hover{
    background-color:var(--bg-color-lighterpurple);
    border: none;
    color: var(--bg-color-darkpurple);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.main-pos3 .edit-pos{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding:4%;
    margin-bottom:2% ;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height:auto;
}
.main-pos3 .receiver-info .add .icon,
.main-pos3 .receiver-info .phone-num .icon,
.main-pos3 .receiver-info .name .icon,
.main-pos3 .shop-info .add .icon,
.main-pos3 .shop-info .phone-num .icon,
.main-pos3 .shop-info .name .icon{
    display: flex;
    align-items: center;
    gap: 1%;
    margin-bottom: 1%;
}
.main-pos3 .receiver-info .add .icon h6,
.main-pos3 .receiver-info .phone-num .icon h6,
.main-pos3 .receiver-info .name .icon h6,
.main-pos3 .shop-info .add .icon h6,
.main-pos3 .shop-info .phone-num .icon h6,
.main-pos3 .shop-info .name .icon h6{
    color: purple;
}
.main-pos3 .pay-way{
    
    height: auto;
    border: 1px solid black;
    padding:4%;
    padding-bottom: 6%;
    margin-bottom:2% ;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

}

.main-pos3 .check-box{
    width: 25%;
    height: 25%;
    /* padding: 1.5%; */
    border: 1px solid black;
    padding:2.5%;
    flex-direction: column;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.main-pos3 .check-box .amount,
.main-pos3 .check-box .total-price,
.main-pos3 .check-box .discount,
.main-pos3 .check-box .pay{
    /* display: grid;
    grid-template-columns: repeat(2,1f); */
    display: flex;
    margin-bottom: 8%;
}
.main-pos3 .check-box .discount{
    color: purple;
}
.main-pos3 .check-box .amount h6,
.main-pos3 .check-box .total-price h6,
.main-pos3 .check-box .discount h6,
.main-pos3 .check-box .pay h6{
    width: 50%;
    font-size:.75em;
}
.main-pos3 .check-box .buttom{
    margin-top:10% ;
    height: 17%;
    display: flex;
    justify-content: center;
    
}
.main-pos3 .check-box .buttom button:hover{
    background-color:var(--bg-color-lighterpurple);
    color: purple;
    
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.main-pos3 .check-box .buttom button{
    width:100%;
    height: 100%;
    background-color:purple;
    color: var(--bg-color-lighterpurple);
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.main-pos3  h6{
    font-size: .77em !important;
}
.main-pos3 h5{
    font-size: .85em !important;
}
/* .pay-way .kind-way .pay-option h5{
    font-size: .85em;
} */
/* .pay-way .kind-way .pay-option .internet{
    color: rgb(197, 94, 197);
} */
/* .pay-way .kind-way .pay-option li input{
    display: flex;
    align-items: srart;
    gap: 1%;
} */

.pay-way .kind-way {
    padding-top: 3%;
    
}

/* .pay-way .kind-way .pay-option{
    list-style: none;


} */

/* .pay-way .kind-way .pay-option li::marker{ 
    font-size: 30px;
} */
.main-pos3 .pay-way .your-products{
    
    display: flex;
    align-items: center;
    margin-top: 1.5%;
    margin-bottom: 5%;

}
.main-pos3 .pay-way .your-products .pro1,
.main-pos3 .pay-way .your-products .pro2{
    display: flex;
    width: 50%;
    align-items: center;
    gap: 3%;
    
}
.main-pos3 .pay-way .title {
    color: purple;
    
}

.your-products .pro1 .pro1-amount ,
.your-products .pro2 .pro2-amount  {
    width:7%;
    height: 50%;
    display: flex;
    align-items: center;
}
.your-products .pro1 .pro1-amount .change-amount,
.your-products .pro2 .pro2-amount .change-amount {
    width:100%;
    height: 100%;
    border: none;
    background-color: rgb(233, 206, 233);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.your-products .pro1 .pro1-amount .change-amount:hover,
.your-products .pro2 .pro2-amount .change-amount :hover{
    color: rgb(233, 206, 233);
    background: purple;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.main-pos3 .receiver-info .title,
.main-pos3 .shop-info .title{
    margin-bottom:2% ;
}
/* .main-pos3 .pay-way  .kind-way .pay-option li h5{
    margin-bottom: 1.25%;
} */
.pay-way .kind-way .online,
.pay-way .kind-way .at-store,
.pay-way .kind-way .at-home{
    display: flex;
    align-items: start;
    margin-bottom:3% ;
    gap: 1%;
}
.pay-way .kind-way .online h5,
.pay-way .kind-way .at-store h5,
.pay-way .kind-way .at-home h5{
    margin-bottom: 1.25%;
}
.pay-way .kind-way .online{
color: rgb(197, 94, 197);
border-color: rgb(197, 94, 197);

}
.pay-way .kind-way .online input[type="radio"],
.pay-way .kind-way .at-store input[type="radio"],
.pay-way .kind-way .at-home input[type="radio"]{
    width: 35px;
    height: 35px;
    accent-color: purple;
}

/* end page3 */


/* start page4 */
.page4 .container,
.page5 .container,
.page6 .container {
    /* height:65.8vh ; */
    width: 70%;
    display: flex;
    margin-block:1.5% ;
    
}
.page4 a,
.page5{
    text-decoration: none !important;
}
.page4,
.page5,
.page6{
    display: flex;
    justify-content: center;
}

.profilebody,
.my-order,
.product-list {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container .dashboard {
    width: 30%;
    border-radius: 15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    padding: 1.5%;
    box-shadow: 0 0 10px rgb(124, 116, 116);

}

.container .profile .profile-info  {
    display: flex;
    justify-content: center;
    margin: 5%;
    
}
.container .profile .profile-info i{
    display: flex;
    justify-content: center;
    font-size: 1.7em;
    margin-bottom: 20%;

}
.container .edit-profile{
    /*border: 1px solid black;
    */width: 69%;
    height: 80%;
    /*box-shadow: 0 0 10px rgb(202, 100, 202);
    */box-shadow: 0 0 10px rgb(124, 116, 116);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}  
    /* min-height: 100vh; */
.container .dashboard-box{
    display: flex;
    justify-content: center;
    gap: 2%;
    width: 100%;
    
}
.container .profile .quick-acsses{
    margin-block: 10%;
    
}
.container .profile .quick-acsses h5{
    margin-bottom: 2%;
}
footer {
    margin-top: auto;
}
.container .edit-profile .subj{
    border-bottom: 2px solid rgb(162, 120, 177);
    padding-inline: 0 !important;
    
}
.container .edit-profile .subj h4{
    padding:2%;
}
.container .edit-profile .dashboard-info{
    padding: 2%;
    color: #6A1B9A;
    /* color:#BA68C8; */
}
.container .edit-profile .dashboard-info div{
    display: flex;
    margin-bottom:2% ;

}
.container .edit-profile .dashboard-info div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .dashboard-box .edit-profile .dashboard-info .l-name{
    display: flex;
    justify-content:space-between;
    margin-block: 1%;
    border-bottom: 1px solid var(--bg-color-lighterpurple);
    align-items: center;
    
}

.container .dashboard-box .edit-profile .dashboard-info .l-name #border-right{
    border-right: 1px solid var(--bg-color-lighterpurple);
    padding-right: 1%;
    
}
.dashboard-box hr{
    /* border-color: rgb(161 150 150); */
    /* background-color: rgb(218, 208, 208); */
    background-color: var(--bg-color-lighterpurple);
    height:1px ;
    border: none;
}
.dashboard .quick-acsses .color{
    color: black;
}
.dashboard .quick-acsses .color:hover{
color: purple;
}
.dashboard .quick-acsses a:hover,
.container .dashboard-box .edit-profile .dashboard-info a:hover,
.profile-info a:hover{
    color:#CE93D8;
}
/* .dashboard .profile .profile-info a ,
.dashboard .profile a,
.edit-profile .dashboard-info div a{

} */
/* end page4 */
/* start page5 */
.edit-profile table th{
    
    background-color:var(--bg-color-lighterpurple);
    border-collapse: collapse;
    font-size: .85em;
}
.edit-profile  td{
    text-align: center;
    font-size: .75em;
    font-weight: 600;
}
.edit-profile table {
    border-collapse: collapse;
    width: 95%;
    margin: 2.5%;
    
}
.edit-profile table td,
.edit-profile table th{
    border: 1px solid var(--bg-color-lighterpurple);
    padding: .6%;
border-collapse: collapse;

}

/* end page5 */




/* start page6 */
/* .product-list{
    height: 100vh;
} */
/* .page6 .container{
    height: 100%;
    
} */
.show{
    
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px,171.67px));
    /* grid-template-columns: repeat(5,1fr); */
    overflow: hidden;
    justify-content: center;
    padding-block:1%;
    grid-gap: 1%;
    
}
.show .product1 .pos,
.show .product2 .pos,
.show .product3 .pos,
.show .product4 .pos,
.show .product5 .pos,
.show .product6 .pos{
    height: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 3%;
    margin-top: 6%;
    
}

.show .product1,
.show .product2,
.show .product3,
.show .product4,
.show .product5,
.show .product6{
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 2%;
    padding: 5%;
    border: 1px solid var(--bg-color-lightpurple);
    text-decoration: none;
    margin-bottom: 3%;
    height: 260px;
    /* border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px; */
}


.show .product1 .img,
.show .product2 .img,
.show .product3 .img,
.show .product4 .img,
.show .product5 .img,
.show .product6 .img{
    width: 70%;
    height: 40%;
    display:flex ;
    justify-content: center;
    align-items: center;
    
}
.show .product1 .img img,
.show .product2 .img img,
.show .product3 .img img,
.show .product4 .img img,
.show .product5 .img img,
.show .product6 .img img{
    width: 100%;
    height: 100%;
}
.show .product2,
.show .product1 {
    position: relative;
    
}

.show .product2 .tag{
    position: absolute;
    background-color:var(--bg-color-lighterpurple);
    color: #6A1B9A;
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    bottom: 89.5%;
    right: 60%;
    font-size: .8em;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    overflow: hidden;
}

.show .product1 .tag{
    position: absolute;
    background-color:var(--bg-color-lighterpurple);
    color: #6A1B9A;
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 70%;
    height: 20%;
    font-size: .8em;
    position: absolute;
    bottom: 89.5%;
    right: 60%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    overflow: hidden;
}

.show .product1 .real-price,
.show .product1 .discount-price,
.show .product2 .real-price,
.show .product2 .discount-price,
.show .product3 .real-price,
.show .product3 .discount-price,
.show .product4 .real-price,
.show .product4 .discount-price,
.show .product5 .real-price,
.show .product5 .discount-price,
.show .product6 .real-price,
.show .product6 .discount-price{
    font-size: .7em;
}
.show .product1 button,
.show .product2 button,
.show .product3 button,
.show .product4 button,
.show .product5 button,
.show .product6 button{
    width:20%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    color: var(--bg-color-lighterpurple);
    background-color: #6A1B9A;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}
.show .product1 button:hover,
.show .product2 button:hover,
.show .product3 button:hover,
.show .product4 button:hover,
.show .product5 button:hover,
.show .product6 button:hover{
    background-color: var(--bg-color-lighterpurple);
    color: #6A1B9A;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.show .real-price,
.show .discount-price{
    color: palevioletred;
}
.show span{
    color: #6A1B9A;
    
}
.show .real-price strike{
    color: #6A1B9A;
}
.show .pos .name-product h6{
    font-size: .8em;
}
.show .pos .name-product span{
    color: palevioletred;
    /* color:#FF4081 ; */
}
.show .pos .name-product:hover{
    color:#FF4081 ;
    border: none;

}
.show .pos .name-product span:hover{
    color: #CE93D8;
}
.odd:hover:nth-child(odd){
    box-shadow: 0px 0 30px #ff8a80;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /*margin-inline: 2%;
    */z-index: 20;
    transition:.3s ;
    -webkit-transition:.3s ;
    -moz-transition:.3s ;
    -ms-transition:.3s ;
    -o-transition:.3s ;
}
.odd:hover:nth-child(even){
    box-shadow: 0px 0 30px #c478d1;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /*margin-inline: 2%;
    */z-index: 20;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

