:root{
    --bg-color-darkblue: rgb(5, 5, 95);
    --bg-color-lightpurple:rgb(213, 179, 241);
    --bg-color-darkpurple:rgb(88, 3, 88);
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
direction: rtl;
}

@font-face {
    font-family: 'vazir';
    src:
        url('../../font/vazir-font-v16.1.0/Vazir.ttf') format('truetype'),
        url('../../font/vazir-font-v16.1.0/Vazir.woff') format('woof'),
        url('../../font/vazir-font-v16.1.0/Vazir.woff2') format('woof2'),
        url('../../font/vazir-font-v16.1.0/Vazir.eot') format('eot');
}
.loginbody{
    background-image: url('/static/image/49.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    direction: rtl;
    font-family: 'vazir';
}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid var(--bg-color-darkpurple);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
}
.wrapper.active{
    height: 540px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
    position: relative;
}
.wrapper .form-box.login{
    transition: transform .70s ease;
    -webkit-transition: transform .70s ease;
    -moz-transition: transform .70s ease;
    -ms-transition: transform .70s ease;
    -o-transition: transform .70s ease;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transform: translateX(-400px);
    -webkit-transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    -o-transform: translateX(-400px);
}
.wrapper .form-box.register{
    /*display:none ;*/
    position: absolute;
    transition: none;
    transform: translateX(400px);
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    -ms-transform: translateX(400px);
    -o-transform: translateX(400px);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}
.wrapper.active .form-box.register{
    transition: transform .70s ease;
    -webkit-transition: transform .70s ease;
    -moz-transition: transform .70s ease;
    -ms-transition: transform .70s ease;
    -o-transition: transform .70s ease;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.form-box h2{
    font-size: 2em;
    color:var(--bg-color-darkpurple);
    
}
.form-box.register h2{
    position: absolute;
    top: 30px;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--bg-color-darkpurple);
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 1em;
    color: var(--bg-color-darkpurple);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    color: var(--bg-color-darkpurple);
    padding: 0 5px 0 35px;
}
.input-box .icon{
    position: absolute;
    font-size: 1.2em;
    color:var(--bg-color-darkpurple);
    line-height: 57px;
    left: 8px;
}
.remember-forget{
    font-size: .9em;
    color: var(--bg-color-darkpurple);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    
}

.remember-forget .row {
    display: flex;
    align-items: center;
    gap: 5px;
}

.remember-forget label input{
    margin-left:5px ;
}
.remember-forget a{
    color: var(--bg-color-darkpurple);
    text-decoration: none;

}
.remember-forget a:hover{
    color: white;
}
.btn{
    width: 100%;
    height: 45px;
    background:rgb(88, 3, 88);
    /* background: linear-gradient(40deg,rgb(10, 10, 77),rgb(123, 30, 177),rgb(106, 18, 133),rgb(201, 118, 118),rgb(228, 171, 156),rgb(199, 98, 160)) !important; */
    color: rgb(213, 179, 241);
    /* color: rgb(26, 2, 26); */
    border: none;
    outline: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'vazir';
    font-weight: 500;

}
.login-register{
    font-size: .9em;
    color: var(--bg-color-darkpurple);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color:rgb(73, 4, 80) ;
    text-decoration: none;
    font-weight: 600;
    /* margin-right:5px ; */
}
.login-register p a:hover{
    /* text-decoration: underline; */
    color:white ;
}
.form-box .logo{
    width: 100px;
    height:100px;
    position: absolute;
    top: -20px;
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}
.form-box.login .logo{
    margin-top: 30px;
}
.form-box.register{
    padding: 20px;
}

input[type="checkbox"]{
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: plum;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
input[type="checkbox"]::after{
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: rgb(6, 7, 7);
    font-size: 8px;
    display: none;
}
input[type="checkbox"]:checked{
    background-color:yellow;

}
input[type="checkbox"]:checked::after{
    display: block;
}


/* start Shopping Card styling  */
/* .page2{
    background-color: rgb(238, 198, 211);
} */
.header{
    background-image: url(/static/image/49.jpg);
    height: 130px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position-x: center;
    background-position-y:500px ; */
    position: relative;
    /* border-bottom: 3px solid black; */
    
}
.container{
    width:min(1200px,90%);
    margin-inline: auto;
    height: 100%;
}
.header .main-header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.header .main-header .logo{
    height: 100px;
    width: 100px;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content:start;
}
.header .main-header .logo img{
    width: 100%;
    height: 100%;
    
}
.header .main-header .user{
    display: flex;
    /* padding-top: 5%; */
    align-items: center;
    justify-content: end;
    
}
.header .main-header .user a,
.header .main-header .basket a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: .8em;
    gap: 5px;
}

.header .main-header .basket{
    display: flex;
    /* padding-top: 5%; */
    align-items: center;
    padding-right: 15%;
}

.header .main-header h4{
    font-family: 'vazir';
}
.header .search{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .search .input-search{
    backdrop-filter: blur(10px);
    border-bottom: 2px solid black;
    box-shadow: 0px -8px 20px rgb(0, 0, 0);
    width: 100%;
    position: relative;
}

.header .search .input-search label{
    /* font-size: .8em;
    font-weight: bold;
    font-family: 'vazir'; */
    visibility: hidden;
    opacity: 0.0;
    display: none;
    position: absolute;
    left: -999999px;
}
.header .search input{
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    cursor: url("/static/image/icons8-pen-20.png"),auto;
    padding: 5px 1rem 5px 5rem;
}
.header .search .input-search button{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    height: 100%;
}
.header .search .input-search button i{
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}
.page2 .main-body .company .company-logo{
    width: 200px;
    height:200px;
}

.page2 .main-body .company a {
    display: block;
}

.page2 .main-body .company a img{
    width: 100%;
    height: 100%;
}
.main-body .company{
    margin-top: 3rem;
}

.main-body .company .main__company {
    background-color: rgb(238, 198, 211);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 1rem 5px;
    display: grid;
    gap: 1rem;
}

.main-body .company .main_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(196, 168, 204); */
    /* background-color: rgb(204, 181, 209); */
    /* background-color: rgb(185, 179, 185); */
    /* background-color: rgb(238, 198, 211); */
}
.main-body .company .time{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.company .time .basket {
    flex-basis: 100%;
    height: 100%;
}

.company .time .basket a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    text-decoration: none;
    color: black;
}

.company .time .basket .wheeled{
    width: 100%;
    width: 16.5px;
    height: 16.5px;
}

.company .time .basket a h4{
    font-family:'vazir';
    font-size: 10px;
    text-align: center;
}
.company .time .line{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    flex-grow: 1;
    height: 100%;
    /* background-color: rgb(192, 255, 236); */
}

.company .time .line .hr {
    width: 100%;
    height: 1px;
    background-color: black;
}

/* .company .time .line hr{
    width: 370px;
    height: 2px;
    color: black;
} */
.company .time .arrivel{
    /* background-color: blue; */
    flex-basis: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company .time .arrivel a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'vazir';
    font-size: .9em;
    gap: 5px;
    text-decoration: none;
    color: black;
}

.company .time .arrivel a i{
    font-size: 16.3px;
}

.company .time .arrivel a h4 {
    font-size: 10px;
    text-align: center;
}
/* end Shopping Card styling */
.wrapper .btn2{
    background-color: aqua;
}

